<!DOCTYPE html>
<html lang="en" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vuejs-2.6.10.js"></script>
</head>
<body>
<div id="app">
    <table border="1">
        <tr>
            <td>序号</td>
            <td>name</td>
            <td>age</td>
            <td>gender</td>
        </tr>
        <tr v-for="(value,index) in list">
            <td>{{index+1}}</td>
            <td>{{value.username}}</td>
            <td>{{value.gender}}</td>
            <td>{{value.age}}</td>
        </tr>
    </table>
</div>

</body>
</html>
<script>
    new Vue({
        el:"#app",
        data:{
            arr:["aaa","bbb","ccc"],
            list:[{username:"张三",age:18,gender:"男"},
                {username:"李四",age:25,gender:"男"},
                {username:"王五",age:26,gender:"男"},
                {username:"赵六",age:27,gender:"男"}
            ]

        },
        methods:{

        }
    });
</script>