<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vuejs-2.6.10.js"></script>
</head>
<body>
<div id="app">
    用户名:<input type="text" v-model="user.username">
    年龄: <input type="text" v-model="user.age">
    <button @click="fun()">按钮</button>
</div>

</body>
</html>
<script>
    new Vue({
        el:"#app",
        data:{
            user:{
                username:"张三",
                age:18
            }

        },
        methods:{
            fun:function () {
                this.user.username="李四";
                this.user.age=28
            }
        }
    });
</script>